@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;300;800&display=swap");

// CSS reset

body,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Martian Mono";
  background-color: #92bcdb;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23def1ff' fill-opacity='0.18'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.main-title {
  font-size: 45px;
  color: rgb(21, 82, 151);
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.joke-text {
  color: rgb(63, 63, 63);
  line-height: 1.3;
}

.joke-part-1 {
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 8px 8px 0 0 rgb(102, 152, 209);
  position: relative;
}

.card::after {
  content: "\f58b";
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgb(102, 152, 209);
}

.cards-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 30px;
}

@media (min-width: 768px) {
  .cards-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .cards-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
